body {
  display: flex;
  justify-content: center;
}

.main {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.box input,
button {
  padding: 5px 12px;
}
button {
  width: 100px;
}
.btn_box {
  width: 400px;
  display: flex;
  justify-content: center;
  background-color: brown;
}
