body {
  display: flex;
  justify-content: center;
}

.main {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box input,
button {
  padding: 5px 12px;
}
button {
  width: 100px;
}
.btn_boxs {
  width: 400px;
  display: flex;
  justify-content: center;
  gap: 12;
  background-color: beige;
}
